body{
	font-family: gotham, Helvetica, Aerial, Verdana, sans-serif;
}

#inputBox{
	background-color: yellow;
	float: left;
	width: 50%;
}


#outputBox{
	float: left;
	width: 50%;
}

textarea{
	width: 400px;
	height: 300px;
}