body{
	font-family: gotham, Helvetica, Aerial, Verdana, sans-serif;
}

#inputBox{
	/*background-color: yellow;*/
	float: left;
	width: 450px;
}


#outputBox{
	float: left;
	width: 400px;
}

textarea{
	width: 400px;
	height: 300px;
}